footer{
	background-color: black;
	height:50px;
	text-align: center;
	padding-top: 20px;
	color: #ffffff;
}


input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

#thank_text{
  position: absolute;
  top:50%;
}

#date_box{
  padding-top: 10px;
  padding-right: 10px;
  padding-left: 5px;
  padding-bottom: 10px;
  background-color: #C6E2FF;
  
}


